.info {
    margin: 50px 0;
}
.info__block {
    font-family: 'Source Sans Pro', sans-serif;
}
.info__title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.info__subtitle {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;
}
.info__url a {
    color: rgb(4, 0, 255);
}
.info__url a:hover {
    color: rgb(167, 166, 253);
}
.info__text {
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 554px) {
    .info__title {
        font-size: 30px;
        line-height: 30px;
    }
    .info__subtitle {
        font-size: 22px;
        line-height: 22px;
    }
    .info__text {
        font-size: 18px;
    }
}